@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif+KR:wght@400;500;600&family=Silkscreen:wght@700&family=VT323&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

html {
  font-size: 0.625em;
}

body {
  font-family: "Noto Serif KR", serif;
  line-height: 1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.ir_pm {
  overflow: hidden;
  text-indent: -9999em;
  white-space: nowrap;
}

.screen_out {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

/* #wrap */
#wrap {
  background: #FEFDFA;
}

/* header */
#headerInner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 10;
}

#headerInner h1 {
  float: left;
  width: 44px;
  height: 44px;
  margin: 18px 0 0 9.067%; /*34/375  */
}

#headerInner h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/h1.png) no-repeat center/contain;
}

#headerInner .navBtn {
  float: right;
  width: 24px;
  margin: 30px 9.067% 0 0;
}

#headerInner .navBtn span {
  display: block;
  height: 4px;
  margin: 4px 0;
  border-radius: 5px;
  background: #000;
  text-indent: -9999px;
}

#headerInner .navBtn:before,
#headerInner .navBtn:after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 5px;
  background: #000;
}

.main_nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.main_nav.on {
  display: block;
}

.main_nav .navInner {
  overflow: auto;
  position: absolute;
  top: 0;
  right: -50%;
  width: 76%; /* 285/375 */
  height: 100%;
  background: #FBF7EF;
  padding: 43px 0 40px;
}

.navInner .navClose {
  width: 37px;
  height: 37px;
  background: url(../img/close-btn.png) no-repeat center/contain;
  text-indent: -9999em;
  margin-left: 7.018%; /* 20/285 */
}

.navInner > div {
  width: 99px;
  height: 99px;
  margin: 110px 0 61px 30.175%;
  /* 
  153-43=110
  86/285=30.175
  */
}

.navInner > div img {
  width: 100%;
  height: 100%;
}

.navInner .gnb {
  width: 81.053%; /* 231/285 */
  border-top: 3px solid #5A5957;
  margin: 0 0 83px 7.018%;
}

.navInner .gnb > li > a {
  display: block;
  position: relative;
  height: 74px;
  line-height: 74px;
  border-bottom: 1px solid #5A5957;
  font-size: 2.2rem;
  font-weight: 500;
  padding-left: 4.762%; /* 11/231 */
}

.navInner .gnb > li > a:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 6.06%; /* 14/231 */
  width: 24px;
  height: 13px;
  background: url(../img/nav-arrow-down.png) no-repeat center/contain;
}

.navInner .sns {
  width: 76%;
  margin-left: 11.579%; /* 33/285 */
}

.navInner .sns > li > a {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 16.908%; /* 35/207 */
  background: url(../img/instargram.png) no-repeat center/contain;
  text-indent: -9999em;
}

.navInner .sns > li:nth-child(2) > a {
  background-image: url(../img/twitter.png);
}

.navInner .sns > li:nth-child(3) > a {
  background-image: url(../img/facebook.png);
}

.navInner .sns > li:nth-child(4) > a {
  background-image: url(../img/shop.png);
  margin-right: 0;
}

/* sub_visual */
#sub_visual {
  margin-top: 80px;
}

.sub_visual_box {
  height: 672px;
  background: url(../img/brand-visual-mo.jpg) no-repeat center/cover;
}

.sub_visual_txt {
  text-align: center;
}
.sub_visual_txt h2 {
  font-size: 4.7rem;
  color: #fff;
  font-weight: 700;
  padding-top: 302px;
  -webkit-animation: focus-in-expand 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  text-shadow: rgba(0, 0, 0, 0.64) 0 10px 6px;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-31 18:58:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
.sub_visual_txt p {
  font-size: 2.6rem;
  font-weight: 600;
  color: #fff;
  padding-top: 222px;
  text-shadow: rgba(0, 0, 0, 0.64) 0 5px 3px;
}
.sub_visual_txt div {
  width: 16px;
  margin: 0 auto;
  padding-top: 18px;
}
.sub_visual_txt div img {
  width: 100%;
  height: 100%;
}

/* main */
/* story01 차 한잔에 담긴 정성 */
.story01_txt_cont {
  position: relative;
  height: 556px;
  padding-top: 71px;
  background: #FBF7EF;
}
.story01_txt_cont:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  height: 4400px;
  width: 4px;
  background: #816653;
}

.story01_txt {
  width: 81.867%; /* 307/375 */
  text-align: center;
  margin: 0 auto;
}
.story01_txt h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 41px;
}
.story01_txt P {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5; /* 24/16 */
  word-break: keep-all;
}
.story01_txt P:nth-child(3) {
  margin-top: 33px;
}

#story01 .cup {
  position: relative;
  width: 251px;
  height: 222px;
  top: -100px;
  margin: 0 auto;
  background: url(../img/story01-cup.png) no-repeat center/contain;
}

.num_cont {
  width: 81.867%;
  text-align: center;
  margin: -70px auto;
  overflow: hidden;
}
.num_cont div {
  position: relative;
  background: #FEFDFA;
}
.num_cont strong {
  font-size: 2rem;
  font-weight: 500;
}
.num_cont p {
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 1.625; /*26/16*/
  word-break: keep-all;
}

.number {
  width: 36px;
  height: 141px;
  margin: 0 auto 25px;
}
.number img {
  width: 100%;
  height: 100%;
}

.num1_box .num1,
.num2_box .num2,
.num3_box .num3,
.num4_box .num4 {
  height: 420px;
  margin: 60px auto 83px;
  background: url(../img/story01-1.jpg) no-repeat center/cover;
}

.num2_box .num2 {
  background: url(../img/story01-2.jpg) no-repeat center/cover;
}

.num3_box .num3 {
  background: url(../img/story01-3.jpg) no-repeat center/cover;
}

.num4_box .num4 {
  background: url(../img/story01-4.jpg) no-repeat center/cover;
}

.num5_box {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}
.num5_box .leaf {
  position: relative;
  margin-top: 45px;
  width: 71px;
  height: 123px;
  background: url(../img/story01-5-leaf.png) no-repeat center/contain;
  margin: 0 auto;
}

.num5 {
  margin-top: -35px;
  height: 540px;
  background: url(../img/story01-5-mo.jpg) no-repeat center/cover;
}

.num5_txt {
  height: 373px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.num5_txt.active {
  opacity: 1;
}
.num5_txt p {
  width: 64.533%; /* 242/375 */
  text-align: center;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.875; /* 30/16 */
  padding-top: 99px;
  word-break: keep-all;
}
.num5_txt p span {
  font-size: 2rem;
}

/* #story02 오가다의 의미*/
#story02 {
  margin-top: 120px;
}
#story02 h2 {
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.385; /* 36/26 */
  margin-bottom: 30px;
}
#story02 > p {
  width: 77.8667%; /* 292/375 */
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.444; /* 26/18 */
  word-break: keep-all;
  margin: 0 auto 52px;
}
.top_cont {
  width: 81.867%;
  margin: 0 auto;
}
.top_cont .center {
  height: 650px;
  background: url(../img/story02-center.jpg) no-repeat center/cover;
  margin-bottom: 20px;
  -webkit-clip-path: inset(0 0 100% 0);
  clip-path: inset(0 0 100% 0);
  transition: opacity 0.8s, -webkit-clip-path 1s;
  -webkit-transition: opacity 0.8s, -webkit-clip-path 1s;
  transition: clip-path 1s, opacity 0.8s;
  transition: clip-path 1s, opacity 0.8s, -webkit-clip-path 1s;
  opacity: 0.3;
}
.top_cont .center.active {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  opacity: 1;
}
.top_cont p {
  width: 70.4%; /* 264/375 */
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.625; /* 26/16 */
  text-align: center;
  margin: 0 auto;
  padding-top: 36px;
  word-break: keep-all;
}
.top_cont .left {
  height: 650px;
  background: url(../img/story02-left.jpg) no-repeat center/cover;
  margin-bottom: 20px;
  -webkit-clip-path: inset(0 0 100% 0);
  clip-path: inset(0 0 100% 0);
  transition: opacity 0.8s, -webkit-clip-path 1s;
  -webkit-transition: opacity 0.8s, -webkit-clip-path 1s;
  transition: clip-path 1s, opacity 0.8s;
  transition: clip-path 1s, opacity 0.8s, -webkit-clip-path 1s;
  opacity: 0.3;
}
.top_cont .left.active {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  opacity: 1;
}
.top_cont .left p {
  width: 70.4%; /* 264/375 */
  font-size: 1.6rem;
  line-height: 1.625; /* 26/16 */
  text-align: center;
  margin: 0 auto;
  padding-top: 36px;
}
.top_cont .right {
  height: 300px;
  -webkit-clip-path: inset(0 0 100% 0);
  clip-path: inset(0 0 100% 0);
  transition: opacity 0.8s, -webkit-clip-path 1s;
  -webkit-transition: opacity 0.8s, -webkit-clip-path 1s;
  transition: clip-path 1s, opacity 0.8s;
  transition: clip-path 1s, opacity 0.8s, -webkit-clip-path 1s;
  opacity: 0.3;
}
.top_cont .right.active {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  opacity: 1;
}

.top_cont .right_top {
  width: 100%;
  height: 100%;
  background: url(../img/story02-rightUp.jpg) no-repeat center/cover;
}
.top_cont .right_bottom {
  background: url(../img/story02-rightDown.jpg) no-repeat center/cover;
  display: none;
}

.bottom {
  margin: 20px auto 0;
  width: 81.867%;
  height: 300px;
  background: url(../img/story02-bottom-mo.jpg) no-repeat center/cover;
  -webkit-clip-path: inset(0 0 100% 0);
  clip-path: inset(0 0 100% 0);
  transition: opacity 0.8s, -webkit-clip-path 1s;
  -webkit-transition: opacity 0.8s, -webkit-clip-path 1s;
  transition: clip-path 1s, opacity 0.8s;
  transition: clip-path 1s, opacity 0.8s, -webkit-clip-path 1s;
  opacity: 0.3;
}
.bottom.active {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  opacity: 1;
}
.bottom p {
  width: 72.638%; /* 223/307 */
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.438; /* 23/16 */
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding-top: 163px;
  text-shadow: rgba(0, 0, 0, 0.56) 3px 3px 3px;
}

/* footer */
#footer {
  margin-top: 120px;
  background: #FBF7EF;
}

.footerInner {
  position: relative;
  margin: 0 auto;
  padding: 13px 0 19px;
  text-align: center;
}

.footerInner .pc {
  display: none;
}

.footerInner .footer_left .foot_logo {
  width: 108px;
  height: 130px;
  margin: 0 auto 16px;
  background: url(../img/foot-logo.png) no-repeat center/contain;
}

.footer_right .infor {
  margin-top: 65px;
}

.footer_right .infor p > a {
  display: block;
  padding-bottom: 9px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
}

.footer_right .infor p:last-child > a {
  padding-bottom: 0;
}

.footer_right .infor p > a:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background: url(../img/tel_icon.png) no-repeat center/contain;
  vertical-align: bottom;
}

.footer_right .infor p:nth-child(2) > a:before {
  background-image: url(../img/fax_icon.png);
}

.footer_right .infor p:nth-child(3) > a:before {
  background-image: url(../img/email_icon.png);
}

.footer_center > strong {
  display: block;
  position: absolute;
  width: 100%;
  top: 159px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.6rem;
  font-weight: 600;
}

.footer_center > div {
  font-size: 1.3rem;
  font-weight: 600;
}

.footer_center .footer_ogada01 {
  margin: 26px 0 13px;
}

.footer_center .footer_ogada01 > p {
  margin-bottom: 19px;
}

.footer_center .footer_ogada01 > span {
  display: block;
}

.footer_center .footer_ogada01 > span:first-of-type {
  margin-bottom: 7px;
}

.footer_center > small {
  font-size: 1.1rem;
  font-weight: 600;
}

/* 768 */
@media screen and (min-width: 768px) {
  /* header */
  #headerInner {
    height: 130px;
  }
  #headerInner h1 {
    width: 80px;
    height: 80px;
    margin: 34px 0 0 7.813%; /* 60/768 */
  }
  #headerInner .navBtn {
    width: 47px;
    margin: 50px 7.813% 0 0;
  }
  #headerInner .navBtn span {
    height: 6px;
    margin: 8px 0;
  }
  #headerInner .navBtn:before,
  #headerInner .navBtn:after {
    height: 6px;
  }
  .main_nav .navInner {
    width: 63.02%; /* 484/768 */
    height: 100%;
    padding: 54px 0 60px;
  }
  .navInner .navClose {
    margin-left: 12.397%;
  }
  .navInner > div {
    margin: 155px 0 76px 39.876%;
    /* 193/484 */
  }
  .navInner .gnb {
    width: 75.207%; /* 364/484 */
    margin: 0 0 200px 12.397%;
  }
  .navInner .gnb > li > a {
    height: 75px;
    line-height: 75px;
    font-size: 2.6rem;
    padding-left: 3.846%; /* 14/364 */
  }
  .navInner .gnb > li > a:after {
    right: 3.846%;
  }
  .navInner .sns {
    width: 66.612%;
    margin-left: 21.694%; /* 105/484 */
  }
  .navInner .sns > li > a {
    width: 30px;
    height: 30px;
    margin-right: 17.613%;
  }

  /* sub_visual */
  #sub_visual {
    margin-top: 130px;
  }
  .sub_visual_box {
    height: 950px;
  }
  .sub_visual_txt h2 {
    font-size: 7.4rem;
    color: #fff;
    font-weight: 700;
    padding-top: 419px;
  }
  .sub_visual_txt p {
    font-size: 3rem;
    padding-top: 325px;
  }
  .sub_visual_txt div {
    width: 24px;
    margin: 0 auto;
    padding-top: 30px;
  }

  /* main */
  /* story01 */
  .story01_txt_cont {
    height: 694px;
    padding-top: 121px;
  }
  .story01_txt_cont:after {
    height: 5000px;
  }
  .story01_txt {
    width: 79.557%; /* 611/768 */
  }
  .story01_txt h2 {
    font-size: 3rem;
    margin-bottom: 62px;
  }
  .story01_txt p {
    font-size: 2rem;
    line-height: 1.7; /* 34/20 */
  }
  .story01_txt p:last-child {
    margin-top: 46px;
  }
  #story01 .cup {
    width: 323px;
    height: 282px;
    top: -140px;
  }
  .num_cont {
    width: 84.375%; /* 648/768 */
    margin: -100px auto;
  }
  .num_cont strong {
    font-size: 2.4rem;
  }
  .num_cont p {
    width: 71.45%; /* 463/648 */
    font-size: 2rem;
    line-height: 1.6; /*32/20*/
    margin: 37px auto;
  }
  .number {
    margin: 0 auto 46px;
  }
  .num1_box .num1,
  .num2_box .num2,
  .num3_box .num3,
  .num4_box .num4 {
    height: 488px;
    margin: 74px auto 150px;
  }
  .num5_box .left {
    width: 133px;
    height: 235px;
  }
  .num5 {
    margin-top: -100px;
    height: 700px;
  }
  .num5_txt {
    height: 350px;
  }
  .num5_txt p {
    width: 84.375%;
    font-size: 2rem;
    line-height: 1.6; /* 32/20 */
    padding-top: 133px;
  }
  .num5_txt p span {
    font-size: 2.5rem;
  }

  /* #story02 */
  #story02 {
    margin-top: 140px;
  }
  #story02 h2 {
    font-size: 3rem;
    line-height: 1.6; /* 48/30 */
    margin-bottom: 40px;
  }
  #story02 > p {
    width: 84.375%;
    font-size: 2.4rem;
    line-height: 1.458; /* 35/24 */
    margin: 0 auto 95px;
  }
  .top_cont {
    width: 84.375%;
  }
  .top_cont .center {
    float: right;
    width: 47.685%;
    height: 800px;
    margin-bottom: 30px;
    transition: -webkit-clip-path 1.5s;
    -webkit-transition: -webkit-clip-path 1.5s;
    transition: clip-path 1.5s;
    transition: clip-path 1.5s, -webkit-clip-path 1.5s;
  }
  .top_cont .center p {
    width: 88.997%; /* 275/309 */
    font-size: 1.8rem;
    line-height: 1.667; /* 30/18 */
    padding-top: 60px;
  }
  .top_cont .left {
    float: left;
    width: 47.685%;
    height: 800px;
    margin-bottom: 30px;
    transition: -webkit-clip-path 1.5s;
    -webkit-transition: -webkit-clip-path 1.5s;
    transition: clip-path 1.5s;
    transition: clip-path 1.5s, -webkit-clip-path 1.5s;
  }
  .top_cont .left p {
    width: 88.997%;
    font-size: 1.8rem;
    line-height: 1.667;
    color: #fff;
    padding-top: 652px;
  }
  .top_cont .right {
    height: 450px;
    clear: both;
  }
  .top_cont .right_top {
    position: static;
    float: left;
    width: 47.685%;
  }
  .top_cont .right_bottom {
    display: block;
    float: right;
    width: 47.685%;
    height: 100%;
  }
  .bottom {
    margin: 30px auto 0;
    width: 84.375%;
    height: 448px;
    background-image: url(../img/story02-bottom.jpg);
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  .bottom p {
    width: 72.727%; /* 472/649 */
    font-size: 2.4rem;
    line-height: 1.458; /* 35/24 */
    padding-top: 243px;
  }

  /* footer */
  #footer {
    margin-top: 140px;
  }
  .footerInner {
    padding: 20px 0 19px;
  }
  .footerInner .footer_left .foot_logo {
    margin: 0 auto 9px;
  }
  .footer_right .infor {
    margin-top: 55px;
  }
  .footer_right .infor p > a {
    font-size: 1.4rem;
  }
  .footer_right .infor p > a:before {
    margin-right: 6px;
  }
  .footer_center > strong {
    font-size: 1.8rem;
  }
  .footer_center > div {
    font-size: 1.4rem;
  }
  .footer_center .footer_ogada01 {
    margin: 38px 0 22px;
  }
  .footer_center .footer_ogada01 > p {
    margin-bottom: 11px;
  }
  .footer_center .footer_ogada01 > span {
    display: inline-block;
  }
  .footer_center .footer_ogada01 > span:first-of-type:after {
    margin-bottom: 0;
    content: "|";
    margin: 0 5px;
  }
  .footer_center > small {
    font-size: 1.4rem;
  }
}

/* 1024 */
@media screen and (min-width: 1024px) {
  /* header */
  .main_nav {
    display: block;
    background: none;
    position: static;
  }
  .main_nav .navInner {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: none;
    z-index: -1;
  }
  #headerInner h1 {
    margin: 34px 0 0 8.789%; /* 90/1024 */
  }
  #headerInner .navBtn,
  #headerInner .navClose,
  .navInner > div {
    display: none;
  }
  .navInner .gnb {
    border-top: none;
    float: left;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 34.96%; /* 358/1024 */
    margin: 0;
    padding-top: 81px;
  }
  .navInner .gnb > li > a {
    border-bottom: none;
    float: left;
    padding-left: 12.408%;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
  }
  .navInner .gnb > li:first-child > a {
    padding-left: 0;
  }
  .navInner .gnb > li > a:after {
    content: none;
  }
  .navInner .sns {
    width: 14.453%;
    float: right;
    margin: 80px 8.789% 0 0;
  }
  .navInner .sns > li > a {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 10%;
  }
  .navInner .sns > li:last-child > a {
    margin-right: 0;
  }

  /* sub_visual */
  .sub_visual_box {
    background-image: url(../img/brand-visual.jpg);
  }
  .sub_visual_txt h2 {
    font-size: 8.4rem;
    padding-top: 424px;
  }
  .sub_visual_txt p {
    font-size: 3.2rem;
    padding-top: 304px;
  }
  .sub_visual_txt div {
    width: 28px;
    padding-top: 32px;
  }

  /* main */
  /* story01 */
  .story01_txt_cont {
    height: 760px;
    padding-top: 118px;
  }
  .story01_txt_cont:after {
    height: 4800px;
  }
  .story01_txt {
    width: 77.734%; /* 796/1024 */
  }
  .story01_txt h2 {
    font-size: 3.2rem;
    margin-bottom: 73px;
  }
  .story01_txt p {
    font-size: 2.6rem;
    line-height: 1.615; /* 42/26 */
  }
  .story01_txt p:nth-child(3) {
    margin-top: 50px;
  }
  #story01 .cup {
    width: 391px;
    height: 340px;
    top: -170px;
  }
  .num_cont {
    width: 82.422%; /* 844/1024 */
    margin: -130px auto;
  }
  .num_cont strong {
    font-size: 2.6rem;
  }
  .num_cont p {
    width: 54.858%; /* 463/844 */
    font-size: 2.1rem;
    line-height: 1.619; /*34/21*/
  }
  .num1_box .num1,
  .num2_box .num2,
  .num3_box .num3,
  .num4_box .num4 {
    width: 79.384%; /* 670/844 */
    margin: 64px auto 130px;
  }
  .num5_box {
    margin-top: 70px;
  }
  .num5_box .leaf {
    width: 191px;
    height: 331px;
  }
  .num5 {
    margin-top: -150px;
    background-image: url(../img/story01-5.jpg);
  }
  .num5_txt p {
    width: 77.734%; /* 796/1024 */
    font-size: 2.2rem;
    line-height: 1.636; /* 36/22 */
    padding-top: 143px;
  }
  .num5_txt p span {
    font-size: 2.8rem;
  }

  /* #story02 */
  #story02 {
    margin-top: 200px;
  }
  #story02 h2 {
    font-size: 3.2rem;
    margin-bottom: 39px;
  }
  #story02 > p {
    width: 67.285%; /* 689/1024 */
    font-size: 2.6rem;
    line-height: 1.423; /* 37/26 */
    margin: 0 auto 91px;
  }
  .top_cont {
    width: 82.422%; /* 844/1024 */
  }
  .top_cont .center {
    width: 48.223%;
    height: 1112px;
  }
  .top_cont .center p {
    width: 73.219%; /* 298/407 */
    padding-top: 82px;
  }
  .top_cont .left {
    width: 48.223%;
    height: 1112px;
  }
  .top_cont .left p {
    width: 76.219%;
    padding-top: 954px;
  }
  .top_cont .right {
    height: 536px;
  }
  .top_cont .right_top,
  .top_cont .right_bottom {
    width: 48.223%;
  }
  .bottom {
    width: 82.422%;
    height: 536px;
  }
  .bottom p {
    width: 60.427%; /* 510/844 */
    font-size: 2.6rem;
    line-height: 1.423; /* 37/26 */
    padding-top: 277px;
  }

  /* footer */
  #footer {
    margin-top: 140px;
  }
  .footerInner {
    width: 82.422%; /* 844/1024 */
    padding: 0;
  }
  .footerInner .pc {
    display: block;
  }
  .footer_left {
    float: left;
    margin: 117px 0 154px;
  }
  .footerInner .footer_left .foot_logo {
    width: 170px;
    height: 170px;
  }
  .footer_left li > a {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    padding-top: 10px;
  }
  .footer_right {
    float: right;
    margin-top: 136px;
    margin-right: 0;
  }
  .footer_right > div:first-child {
    width: 160px;
    height: 160px;
    margin-left: 20px;
  }
  .footer_right > div > img {
    width: 100%;
    height: 100%;
  }
  .footer_right .infor {
    margin-top: 22px;
    margin-right: 0;
  }
  .footer_right .infor p > a {
    font-size: 1.3rem;
    text-align: right;
  }
  .footer_right .infor p > a:before {
    margin-right: 8px;
  }
  .footer_center > strong {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    font-size: 2.4rem;
  }
  .footer_center {
    float: left;
    position: absolute;
    width: 462px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 159px;
  }
  .footer_center .footer_ogada01 {
    margin: 70px auto 38px;
  }
  .footer_center .footer_ogada01 > p {
    margin-bottom: 21px;
  }
  .footer_ogada02 > span > a:after {
    display: inline-block;
    content: "|";
    margin: 0 10px;
  }
  .footer_ogada02 > span > a:last-child:after {
    content: none;
  }
  .footer_center > small {
    display: block;
    margin-top: 17px;
  }
}

/* 1280 */
@media screen and (min-width: 1280px) {
  /* header */
  #headerInner h1 {
    margin: 34px 0 0 7.891%; /* 101/1280 */
  }
  .navInner .gnb {
    width: 30.547%; /*391/1280  */
  }
  .navInner .gnb > li > a {
    padding-left: 14.09%;
  }
  .navInner .sns {
    width: 12.969%;
    margin: 80px 7.891% 0 0;
  }
  .navInner .sns > li > a {
    margin-right: 12.253%;
  }
  /* main */
  /* story01 */
  .story01_txt {
    width: 62.188%; /* 796/1280 */
  }
  .story01_txt_cont:after {
    height: 3200px;
  }
  .num_cont {
    width: 84.219%; /* 1078/1280 */
  }
  .num_cont div {
    background: none;
  }
  .number {
    margin-bottom: -80px;
  }
  .num1_txt,
  .num3_txt {
    float: left;
    width: 45.455%; /* 490/1078 */
  }
  .num2_txt,
  .num4_txt {
    float: right;
    width: 45.455%; /* 490/1078 */
  }
  .num_cont p {
    width: 100%;
  }
  .num_cont > div:nth-child(odd) p {
    text-align: right;
  }
  .num_cont > div:nth-child(even) p {
    text-align: left;
  }
  .num1_box .num1,
  .num2_box .num2,
  .num3_box .num3,
  .num4_box .num4 {
    width: 100%; /* 490/1280 */
    height: 488px;
    margin: 64px auto 0;
  }
  .num_cont > div:nth-child(odd) strong {
    display: block;
    text-align: right;
  }
  .num_cont > div:nth-child(even) strong {
    display: block;
    text-align: left;
  }
  .num2_box {
    margin-top: 295px;
  }
  .num3_box {
    margin-top: 660px;
  }
  .num4_box {
    margin-top: 295px;
  }
  .num5_box {
    margin-top: 0;
  }
  .num5_box .left {
    margin-top: 80px;
  }
  .num5_txt p {
    width: 73.594%;
    font-size: 2.6rem;
    line-height: 1.692; /* 44/26 */
    padding-top: 145px;
  }
  .num5_txt p span {
    font-size: 3rem;
  }

  /* #story02 */
  #story02 > p {
    width: 53.828%; /* 689/1280 */
  }
  .top_cont {
    width: 84.219%; /* 1078/1280 */
  }
  .top_cont .center {
    width: 48.516%; /* 523/1078 */
  }
  .top_cont .center > p {
    width: 56.979%; /* 298/523 */
    padding-top: 74px;
    font-size: 2.1rem;
    line-height: 1.619; /* 34/21 */
  }
  .top_cont .left {
    width: 48.516%; /* 523/1078 */
  }
  .top_cont .left > p {
    width: 57.553%; /* 301/523 */
    padding-top: 940px;
    font-size: 2.1rem;
    line-height: 1.619;
  }
  .top_cont .right_top,
  .top_cont .right_bottom {
    width: 48.516%;
  }
  .bottom {
    width: 84.219%;
    margin: 32px auto 0;
  }
  .bottom > p {
    width: 47.31%; /* 510/1078 */
    padding-top: 231px;
  }

  /* footer */
  .footerInner {
    width: 84.219%; /* 1078/1280 */
  }
  .footer_left {
    margin: 50px 0 173px;
  }
  .footerInner .footer_left .foot_logo {
    width: 190px;
    height: 190px;
  }
  .footer_left li > a {
    padding-top: 37px;
  }
  .footer_left li:last-child > a {
    padding-top: 14px;
  }
  .footer_right {
    margin-top: 76px;
  }
  .footer_right > div:first-child {
    width: 238px;
    height: 238px;
  }
  .footer_right .infor {
    margin-top: 23px;
  }
  .footer_center {
    margin-top: 167px;
    width: 600px;
  }
  .footer_center > strong {
    font-size: 2.8rem;
  }
  .footer_center > div {
    font-size: 1.6rem;
  }
  .footer_center .footer_ogada01 {
    margin: 68px auto 37px;
  }
  .footer_center > small {
    font-size: 1.6rem;
    margin-top: 14px;
  }
}

@media screen and (min-width: 1600px) {
  /* header */
  #headerInner h1 {
    margin: 34px 0 0 0;
  }
  #headerInner > div {
    position: relative;
    width: 1560px;
    margin: 0 auto;
  }
  .navInner .gnb {
    width: 391px;
  }
  .navInner .gnb > li > a {
    padding-left: 59px;
  }
  .navInner .sns {
    width: 166px;
    margin: 80px 0 0 0;
  }
  .navInner .sns > li > a {
    margin-right: 22px;
  }
  /* main */
  /* story01 */
  .story01_txt {
    width: 796px;
  }
  .num_cont {
    width: 1560px;
  }
  .num1_txt,
  .num2_txt,
  .num3_txt,
  .num4_txt {
    width: 670px;
  }
  .num_cont > div:nth-child(odd) p {
    margin-right: 0;
    width: 486px;
  }
  .num_cont > div:nth-child(even) p {
    margin-left: 0;
    width: 486px;
  }
  .num5_txt > p {
    width: 942px;
  }

  /* #story02 */
  #story02 > p {
    width: 689px;
  }
  .top_cont {
    position: relative;
    width: 1560px;
  }
  .top_cont .center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 494px;
    margin-bottom: 0;
    transition: -webkit-clip-path 2s;
    -webkit-transition: -webkit-clip-path 2s;
    transition: clip-path 2s;
    transition: clip-path 2s, -webkit-clip-path 2s;
  }
  .top_cont .center > p {
    width: 298px;
  }
  .top_cont .left {
    width: 494px;
    float: left;
    margin-bottom: 0;
    transition: -webkit-clip-path 2s;
    -webkit-transition: -webkit-clip-path 2s;
    transition: clip-path 2s;
    transition: clip-path 2s, -webkit-clip-path 2s;
  }
  .top_cont .left > p {
    width: 301px;
  }
  .top_cont .right {
    float: right;
    width: 494px;
    height: 1116px;
    clear: none;
    transition: -webkit-clip-path 2s;
    -webkit-transition: -webkit-clip-path 2s;
    transition: clip-path 2s;
    transition: clip-path 2s, -webkit-clip-path 2s;
  }
  .top_cont .right_top,
  .top_cont .right_bottom {
    width: 100%;
    height: 536px;
  }
  .top_cont .right_top {
    margin-bottom: 39px;
  }
  .bottom {
    margin: 39px auto 0;
    width: 1560px;
  }
  .bottom > p {
    width: 510px;
  }
  /* footer */
  #footer {
    margin-top: 200px;
  }
  .footerInner {
    width: 1560px;
  }
} /*# sourceMappingURL=brand.css.map */